@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .scroll-pt-70 {
    scroll-padding-top: 70px;
  }
} */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #222121;
}

@layer base {
  html,
  body {
    @apply scroll-smooth scroll-pt-[70px];
  }

  button {
    @apply border border-black rounded-full px-2 sm:px-5 py-1 bg-white text-black text-sm sm:text-base hover:bg-[#DEAF07] duration-300;
  }
}
